  <div class="subheader">
    <div class="subheader__wrapper wrapper">
      <div class="subheader__user">
        <img src="{{imgPath}}/{{loginImg}}" alt="{{userTitle}}" class="subheader__icon">
        <span class="subheader__title">{{userTitle}}</span>
      </div>
      <div class="subheader__search">
        <input type="search" placeholder="поиск" class="subheader__search-input">
        <img src="{{imgPath}}/{{searchImg}}" alt="поиск" class="subheader__icon subheader__icon-search">
      </div>
      <div class="subheader__cart">
        <span class="subheader__title">{{cartTitle}}</span>
        <div class="subheader__icon">
          <img src="{{imgPath}}/{{cartImg}}" alt="{{cartTitle}}">
          <span class="subheader__cart-lenght"></span>
        </div>
        {% include "../cart/cart.njk" %}
      </div>
    </div>
  </div>