.subheader {
  background: var(--color-main-dark);
  height: 50px;
}

.subheader__wrapper {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.subheader__user {
  height: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subheader__icon {
  height: 100%;
  position: relative;

  img {
    height: 100%;
  }
}

.subheader__title {
  color: #fff;
  font-size: 0.9rem;
  margin: 0 0.5rem;
}

.subheader__search {
  position: relative;
}

.subheader__search-input {
  width: 100%;
  height: 25px;
  border-radius: 0.5rem;
  border: none;
  padding-left: 0.5rem;

  // :focus {
  //   border: none;
  // }
}

.subheader__icon-search {
  position: absolute;
  right: 0;
  padding: 0.3rem 0.5rem;
}

.subheader__cart {
  height: 50%;
  justify-self: end;
  display: flex;
  align-items: center;

  &:hover > .cart-header {
    display: grid;

    &::before {
      content: "";
      height: 50px;
      width: 100%;
      position: absolute;
      top: -50px;
      right: 0;
      cursor: pointer;
    }
  }
}

.subheader__cart-lenght {
  position: absolute;
  bottom: 1px;
  right: .35rem;
  background: var(--color-main-dark);
  border-radius: 50%;
  height: .9rem;
  width: .9rem;
  font-size: .6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
