<main class="main main_{{pageName}}">
  {% block cartDescription %}
    {% include "./shop-description/shop-description.njk" %}
  {% endblock %}

  {% block cartContent %}
    {% include "../carts/cart-content.njk" %}
  {% endblock %}
</main>