<div class="products__list_shop wrapper">
  {% block product %}
    {% include "../../products/product.njk" %}
  {% endblock %}
</div>
{# <div class="products__all">
  <a href="#" class="link">Все товары --></a>
</div> #}