.products__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1.5rem 0;
}

.products__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: unset;
  width: 95%;
  padding: 2rem;

  &:hover {
    background: var(--color-main-medium);
  }

  &.active {
    background: var(--color-main-medium);
  }
}

.products__all {
  text-align: center;
  padding-bottom: 2rem;
  color: unset;
}

// shop

.products__list {
  display: flex;
}

.products__list_shop {
  padding-top: 1rem;
}

