<div class="products__list products__list_{{pageName}} wrapper">
  {% block brafitting %}
    {% include "../filters/brafitting.njk" %}
  {% endblock %}
  {% block product %}
    {% include "../../products/product.njk" %}
  {% endblock %}
</div>

{# <div class="products__all">
  <a href="#" class="link">Все товары --></a>
</div> #}