.shop-filters {
  background: rgba(197, 197, 197, 0.801);
  padding: 1rem;
}

.shop-filters__wrapper {
  display: flex;
  justify-content: space-between;
}

.shop-filters__dropdowns {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.shop-filters__common {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-filters__common-price {
  font-size: 1.1rem;

  label {
    margin-right: 1rem;
  }
}

.shop-filters__common-price-input {
  border: none;
  height: 1.5rem;
  border-radius: 10px;
  width: 150px;
}

.shop-filters-tags {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid var(--color-line);

  span {
    margin-left: 0.5rem;
  }
}

.brafitting {
  border-radius: 0.5rem;
  padding: 1rem;
  height: 460px;
  width: 320px;
  margin-right: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.brafitting__title {
  position: relative;
  text-transform: uppercase;
  display: grid;
  padding-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-line);
  }
}

.brafitting__range-block {
  display: grid;
  height: 40%;
  padding-top: 1rem;
}

.brafitting__range {
  width: 100%;
}

.brafitting__result {
  padding-top: 2rem;
}
