<div class="product brafitting">
  <h2 class='brafitting__title'>Виртуальный брафиттинг</h2>
  <form class="brafitting__range-block">
    <label>Обхват груди, см: <span>0</span><input type="range" min="0" max="200" value="0" class="brafitting__range"></label>
    <label>Обхват под грудью, см: <span>0</span><input type="range" min="0" max="200" value="0" class="brafitting__range"></label>
    <label>Обхват бедер, см: <span>0</span><input type="range" min="0" max="200" value="0" class="brafitting__range"></label>
  </form>
  <div class="brafitting__result">
    <span>Размер бюстгалтера: <strong>65K</strong>
    </span>
    <span>Размер трусиков: <strong>32EU</strong>
    </span>
  </div>
</div>