<section class="cart-content wrapper">
  <div class="cart-content__product-list">
    <div class="cart-content__product-list_title">
      <h3>Моя корзина:</h3>
      <div class="cart-content__product-list_summ">
        <span>3 товара</span>
        <i>{{cartPrice}}
          {{rubble}}</i>
      </div>
    </div>

    {% include "../products/product-min.njk" %}
    {% include "../products/product-min.njk" %}
    {% include "../products/product-min.njk" %}
    {% include "../products/product-min.njk" %}
    {% include "../products/product-min.njk" %}
    {% include "../products/product-min.njk" %}
    {% include "../products/product-min.njk" %}
  </div>
  <div class="cart-content__user-data">
    <form class="cart-content__user">
      <h3>Доставка:</h3>
      <div>
        <label>Полное имя:<input type="text" name='fullName'></label>
        <label>Телефон:<input type="tel" name='tel'></label>
        <label>Email:<input type="email" name='email'></label>
      </div>

      <div class="cart-content__user-address">
        <div>
          <label>Страна:<input type="text" name='country'></label>
          <label>Город:<input type="text" name='city'></label>
        </div>
        <label>Адрес:<input type="text" name='address'></label>
      </div>
    </form>
    <div class="cart-content__payments">
      <h3>Оплата:</h3>
      <div class="credit-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="mastercard">
        <span>1122 3344 5566 7788</span>
        <div>
          <span>Ivan Ivanov</span>
          <span>01/21</span>
        </div>
      </div>

      <form class="cart-content__card">
        <label>Имя на карте:<input type="text" name='cardName'></label>
        <label>Номер карты:<input type="text" name='cardNumder'></label>

        <div>
          <label>Действительна до:<input type="month" name='cardMonth' value="2021-01"></label>
          <label>CVV<input type="text" name='cardCVV'></label>
        </div>

        <input type="submit" value='Оплатить'>
      </form>
    </div>
  </div>

</section>