@use '../../../scss/vars.scss';

.cart-header {
  // display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 320px;
  height: auto;
  border-radius: 10px;
  background: var(--color-main-dark);
  filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.25));

  z-index: 3;
}

.cart-header__arrow {
  position: absolute;
  right: 1.2rem;
  top: -0.5rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid var(--color-main-light);
}

.cart-header__header {
  height: 50px;
  padding: 1rem;
  border-bottom: 1px solid #000;
  display: flex;
  background: var(--color-main-light);
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--color-main-dark);

  i {
    padding-left: 0.5rem;
  }
}

.cart-header__products-wrapper {
  // padding: 1rem;

  overflow: auto;
}

.cart-header__products-list {
  max-height: 340px;
  display: grid;
  place-self: center;
  padding-left: 1rem;
  // margin-bottom: 2rem;
  // overflow: auto;
  // margin-right: 3rem;
}

.cart-header__summ {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  background: var(--color-main-light);
}

.cart-header__buttons {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  justify-content: space-around;
  background: var(--color-main-light);

  // :first-child {
  //   background: var(--color-bg-button-white);
  //   color: unset;
  //   border: rgba(0, 0, 0, 0.13) 0.5px solid;
  // }

  .button {
    font-size: 0.7rem;
    width: 90%;
    text-align: center;
  }
}

.cart-header__footer {
  height: 50px;
  padding: 1rem;
  font-size: 0.7rem;
  background: var(--color-main-light);
  border-radius: 0 0 10px 10px;
}
