<section class="shop-description">
  <article class="shop-description__wrapper">
    <h1 class="shop-description__title">{{category}}</h1>
    <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова, назад продолжил составитель даже использовало решила, собрал жизни рукопись которое родного, заголовок вопрос сих дал. Маленький залетают пояс она!</p>
  </article>
</section>