@use 'product-2/product-2.scss';

.product_shop {
  position: relative;
  height: 460px;
  width: 320px;
  border-radius: 10px;
  margin: 0 1rem 2rem 0rem;

  display: grid;
  grid-template-rows: 80% auto;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    grid-template-rows: 100% auto;
  }

  &:hover > hr {
    display: block;
  }

  &:hover > .product__img {
    border-radius: 10px;
  }

  &:hover > .product__details {
    width: 90%;
    padding: 1.5rem;
    border-radius: 7px 7px 0 0;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &:hover > .product__details > hr {
    display: block;
  }

  &:hover > .product__details > .product__details_size {
    display: flex;
  }

  &:hover > .product__details > .product__details-color {
    display: flex;
  }

  &:hover > .product__details > .product__cart-button {
    display: block;
  }
}

.product__new {
  position: absolute;
  background: var(--color-bg-new);
  padding: 6px;
  color: #fff;
  border-radius: 10px 0;
}
.product__sale {
  position: absolute;
  right: 0;
  background: var(--color-bg-sale);
  padding: 6px;
  border-radius: 0 10px;
}

.product__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product__details {
  position: absolute;
  justify-self: center;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;

  i {
    display: block;
    padding-top: 1rem;
  }

  hr {
    margin: 1rem;
    display: none;
  }
}

.product__cart-button {
  display: none;

  justify-self: center;
  margin-top: 1rem;
  height: 50px;
  width: 100%;
  background: var(--color-main-medium);
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.product__details_size {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-top: 1rem;

  span:not(.product__size) {
    width: 100%;
  }
}

.product__size {
  background: var(--color-size);
  padding: 2px 5px;
  border-radius: 0 5px;
  margin: 0.45rem 0.2rem 0 0.2rem;

  font-size: 0.9rem;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  &:hover {
    transform: scale(1.2);
  }

  &.active {
    transform: scale(1.2);
    color: #fff;
    background: var(--color-main-dark);
  }
}

.product__details-color {
  display: none;
  justify-content: center;
}

.product__color {
  display: inline-block;
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;

  margin: 0 0.5rem;

  &.active {
    transform: scale(1.3);
  }
  &:hover {
    transform: scale(1.3);
  }

  &.black {
    background: #000;
  }
  &.white {
    background: #fff;
    border: 1px solid #000;
  }
  &.mint {
    background: rgb(160, 235, 194);
  }
}

//

.products__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1.5rem 0;
}

.products__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: unset;
  width: 95%;
  padding: 2rem;

  &:hover {
    background: var(--color-main-medium);
  }

  &.active {
    background: var(--color-main-medium);
  }
}

.products__all {
  text-align: center;
  padding-bottom: 2rem;
  color: unset;
}

// shop

.products__list {
  display: flex;
}

.products__list_shop {
  padding-top: 1rem;
}
