<div class="product_shop">
<span class="product__new">Новинка</span>
<span class="product__sale">Скидка</span>
  <img src="../assets/img/product/product.jpeg" alt="изображение товара" class="product__img">

  <div class="product__details">
    <div class="product__details-color">
      <span class="product__color black active"></span>
      <span class="product__color white"></span>
      <span class="product__color mint"></span>
    </div>
    <hr>
    <h4>
      <a href="/shop/product" class='link'> COOKIE semisoftsidesupport</a>
    </h4>
    <span>Бюстгальтер полупоролон</span>
    <i>1.500,00 {{rubble}}</i>

    <div class="product__details_size">
      {# <span>Размер:</span><br> #}
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
      <span class="size">75G</span>
    </div>
    <hr>
    <button class='product__cart-button'>В корзину</button>
  </div>
</div>