<div class="product">
  <div class="product__img">
    <span class="span-new">Новинка</span>
    {# <span class="span-sale">Распродажа</span> #}
    <img src="{{startPath}}assets/img/product/product.jpeg" alt="">
  </div>
  <div class="product__details">
    <div class="product__details_buttons">
      <a href="#" class="button">в корзину</a>
    </div>
    <div>
      <div class="product__details_content">
        <a href="#">COOKIE semisoftsidesupport</a>
        <h5>Бюстгальтер полупоролон</h5>
        <div class="product__price">
          <span>4000 руб.</span>
          <p>3000 руб.</p>
        </div>

        <div class="product__details_color">
          <h5>Цвет:</h5>
          <a href="" style="background-color: aqua;"></a>
          <a href="" style="background-color: rgb(207, 162, 104);"></a>
          <a href="" style="background-color: rgb(114, 104, 207);"></a>
          <a href="" style="background-color: rgb(104, 207, 121);"></a>
          <a href="" style="background-color: rgb(192, 207, 104);"></a>
        </div>
      </div>
      <div class="product__details_size">
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>65G</span>
        <span>115G</span>
      </div>
    </div>

  </div>
</div>