<div class="product-min">
  <div class="product-min__content">
    <h4 class="product-min__title">COOKIE semisoftsidesupport</h4>
    <span class="product-min__price">₽ <i>1.500,00</i>
    </span>
  </div>
  <img src="{{imgPath}}/product/product.jpeg"  class="product-min__img" alt="изображение товара">
  <span class="product-min__qty">
    <strong class="product-min__qty-before">-</strong>
    <strong class="product-min__qty-count">01</strong>
    <strong class="product-min__qty-after">+</strong>
  </span>
  <span class="product-min__settings">
    <a href="#" class="product-min__settings-favorites"><img src="{{imgPath}}/heart.svg" alt="избранное"></a>
    <a href="#" class="product-min__settings-settings"><img src="{{imgPath}}/search.svg" alt="настройки"></a>
    <a href="#" class="product-min__settings-del"><img src="{{imgPath}}/trash.svg" alt="удалить"></a>
  </span>
</div>