<nav class="breadcumbs">
  <ol class="breadcumbs__wrapper wrapper">
    <li class="breadcumbs__item"><a href="#" class='link'>Магазин</a><span>›</span></li>
    <li class="breadcumbs__item"><a href="#" class='link breadcumbs__item-active'>{{category}}</a><span class='breadcumbs__item-active'>↴</span></li>
  </ol>
</nav>