.breadcumbs {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  height: 50px;
}

.breadcumbs__wrapper {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.breadcumbs__item {
  margin-right: 1rem;

  .link {
    margin-right: .5rem;
  }
}

.breadcumbs__item-active {
  opacity: .6;
}
