<!DOCTYPE html>
<html dir="auto" lang="ru">
{% block head %}
{% endblock %}
<body>

  {% block header %}
  {% endblock %}

  {% include "./main/main.njk" %}

  {% include "./footer/footer.njk" %}

  <script type="module" src="script.js"></script>
</body>

</html>