{% set pathImgCategory  = 'assets/img/category/' %}

<section class="category category_{{pageName}}">
  <h2 class="category__title">Категории</h2>
    <div class="category__slider">
      <a href="/shop" class="category__item"><img src="{{pathImgCategory}}бюстгальтеры.jpg" alt=""></a>
      <a href="/shop" class="category__item"><img src="{{pathImgCategory}}трусики.jpg" alt=""></a>
      <a href="/shop" class="category__item"><img src="{{pathImgCategory}}колготки.jpg" alt=""></a>
      <a href="/shop" class="category__item"><img src="{{pathImgCategory}}домашняя-одежда.jpg" alt=""></a>
      <a href="/shop" class="category__item"><img src="{{pathImgCategory}}домашняя-одежда.jpg" alt=""></a>
    </div>
</section>