<div class="banner__sale">
  <div class="wrapper banner__sale-wrapper">
    <div class="banner__sale-content">
      <h3>
        <i>Привет лето</i>
      </h3>
      <h2>Супер скидки</h2>
      <p>
        <b>минус 30%</b> на купальники бренда...</p>
      <a href="#" class="banner__sale-button">Подробнее</a>
    </div>
    <img src="assets/img/product/product2.jpg" alt="акция" class="banner__sale-img">
  </div>
</div>