{% set pathImgBanner = 'assets/img/banner/' %}

<section class="banner banner_{{pageName}}">
  <div class="wrapper">
    <img src="{{pathImgBanner}}banner-woomen.png" alt="plus size" class="banner__img">
    <div class="banner__content">
      <h1>Искушение</h1>
      <p>Интернет-магазин нижнего белья и <br> колготок</p>
    </div>
  </div>
</section>