@use '../../scss/vars.scss';
@use './cart-header/cart-header-2.scss';

.cart-header {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 330px;
  height: auto;
  border-radius: 10px 0 10px 10px;
  background: var(--color-main-dark);
  filter: drop-shadow(-5px 4px 4px rgba(0, 0, 0, 0.25));

  z-index: 3;
}

.cart-header__arrow {
  position: absolute;
  right: 1rem;
  top: -0.9rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid var(--color-main-light);
}

.cart-header__header {
  height: 50px;
  padding: 1rem;
  border-bottom: 1px solid #000;
  display: flex;
  background: var(--color-main-dark);
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--color-main-dark);

  i {
    padding-left: 0.5rem;
  }
}

.cart-header__products-wrapper {
  overflow: auto;
}

.cart-header__products-list {
  max-height: 340px;
  display: grid;
  place-self: center;
  padding: 1rem 0 1rem 1rem;
}

.cart-header__summ {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--color-main-light);
  border-top: 3px solid var(--color-main-dark);
  border-bottom: 3px solid var(--color-main-dark);
}

// .cart-header__buttons {
//   display: flex;
//   padding: 1rem;
//   // border-top: 1px solid #000;
//   // border-bottom: 1px solid #000;
//   justify-content: space-around;
//   background: var(--color-main-light);

//   // :first-child {
//   //   background: var(--color-bg-button-white);
//   //   color: unset;
//   //   border: rgba(0, 0, 0, 0.13) 0.5px solid;
//   // }

//   .button {
//     font-size: 0.7rem;
//     width: 90%;
//     text-align: center;
//   }
// }

.cart-header__footer {
  height: 50px;
  padding: 1rem;
  font-size: 0.7rem;
  background: var(--color-main-light);
  border-radius: 0 0 10px 10px;
}

// cart-content

.cart-content {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart-content__product-list {
  padding: 1rem;
  border-radius: 1rem;
}

.cart-content__product-list {
  background: #e4e4e4;
}

.cart-content__product-list_title {
  padding-bottom: 2rem;
}

.cart-content__user,
.cart-content__payments {
  background: var(--color-main-dark);
  width: 350px;
  height: 550px;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  display: grid;
  align-items: start;

  input,
  input:focus,
  select,
  select:focus {
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-size: 1rem;
  }
}

.cart-content__user {
  grid-template-rows: 4rem 1fr auto;
}

.cart-content__user-data {
  label {
    display: grid;
    padding-bottom: 2rem;
  }
}

.cart-content__user-address {
  height: 100%;
  padding-bottom: 2rem;

  div {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-bottom: 3rem;

    label {
      width: 40%;
    }
  }

  input {
    width: 100%;
  }
}

.credit-card {
  background: var(--color-bg-credit-card);
  width: 100%;
  max-width: 300px;
  height: 150px;
  border-radius: 10px;
  padding: 1rem;
  color: #000;

  display: grid;
  align-items: center;
  // align-content: center;
  // justify-content: space-between;

  img {
    height: 50px;
  }

  span {
    display: block;
    font-size: 1.2rem;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}
