<nav class="navigation wrapper" role="navigation">
  <ul class="navigation__menu">
    <li class="navigation__menu-item navigation__active">
      <a href="#{{navigationLink}}" class="navigation__link">{{navigationLink}}</a>
    </li>
    <li class="navigation__menu-item">
      <a href="#{{navigationLink}}" class="navigation__link">{{navigationLink}}</a>
    </li>
  </ul>
</nav>