  <footer>
    <div class="footer__social">

    </div>

    <div class="footer__map">
      <a href="">Карта сайта</a>
      <a href="">Контакты</a>
      <a href="">Политика конфиденциальности</a>
    </div>

    <div class="footer__product">
      <div class="product__list">
        <div class="product__card">
          <img src="{{imgPath}}/product/product.jpeg" alt="">
        </div>
        <div class="product__card">
          <img src="{{imgPath}}/product/product.jpeg" alt="">
        </div>
      </div>
      <div class="footer__subscribe">
        <input type="text" placeholder="Подпишитесь на нас"><span>></span>
      </div>
    </div>

    <div class="subfooter">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.cruisingconcepts.com%2Fwp-content%2Fuploads%2F2016%2F07%2Fvisa-mastercard-logo.png&f=1&nofb=1"
        alt="">
    </div>
  </footer>