{% set lang = 'ru' %}
{% set imgPath = 'assets/img' %}

{% set pageName = 'home' %}
{% set userTitle = 'Войти' %}
{% set cartTitle = 'Корзина: 3' %}
{% set loginImg = 'user-login.svg' %}
{% set cartImg = 'cart.svg' %}
{% set searchImg = 'search.svg' %}

{% set navigationLinks = [
  "Бюстгальтеры",
  "Трусики",
  "Колготки, чулки, леггинсы",
  "Домашняя одежда",
  "Носки, тапочки, ботфорты",
  "Корректирующее белье",
  "Трикотаж",
  "Эротическое белье",
  "Купальники",
  "Детское",
  "Мужчинам",
  "Термобелье",
  "Аксессуары"
] %}

{% extends "./layout/layout.njk" %}

{% block head %}
  {% include "./layout/head.njk" %}
{% endblock %}

{% block header %}
  {% include "./modules/headers/header.njk" %}
{% endblock %}

{% block banner %}
  {% include "./modules/banners/banner.njk" %}
{% endblock %}

{% block main %}
  {% include "./modules/mains/main.njk" %}
  {% block brandList %}
    {% include "./modules/brand-list/band-list.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "./modules/footers/footer.njk" %}
{% endblock %}