@use 'vars.scss';

@use '../modules/_components/dropdown/dropdown.scss';

.link {
  text-decoration: none;
  color: unset;

  &:hover {
    text-decoration: underline;
  }
}

// buttons

.button {
  background: var(--color-bg-button);
  text-decoration: none;
  color: var(--color-text-button);
  text-transform: uppercase;
  padding: 15px;
  border-radius: 10px;
  font-size: 0.9rem;

  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.397);
}

.banner__sale-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  text-decoration: none;
  border: 2px solid #000;
  height: 50px;
  text-transform: uppercase;
  color: #000;
  justify-self: center;
}

// inputs

.input {
  // height: 25px;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}

// tags

.tag {
  background: var(--color-tag);
  padding: 2px 5px;
  border-radius: 5px;
  width: auto;
  display: inline-flex;
  align-items: center;
}

.tag__close {
  // position: relative;
  background: var(--color-main-dark);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  // padding: 2.5px;

  img {
    // position: absolute;
    height: 70%;
    width: 100%;
  }
}



