@use 'vars.scss';

.link {
  text-decoration: none;
}

.button {
  background: var(--color-bg-button);
  text-decoration: none;
  color: var(--color-text-button);
  text-transform: uppercase;
  padding: 4%;
  border-radius: 10px;
  font-size: .9rem;

  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.397);
}
