:root {
  // цветовой набор
  --color-white: #fff;
  --color-main-dark: #e86273;
  --color-main-medium: #ffdee2;
  --color-main-light: #fff4f6;
  --color-text-button: var(--color-white);
  --color-bg-button: var(--color-main-dark);
  --color-bg-button-white: var(--color-white);
  --color-bg-text-block: #f6f6f6;
  --color-tag: #d1d1d1;
  --color-line: rgba(0, 0, 0, 0.205);
  --color-bg-credit-card: var(--color-main-medium)
}