{% set pageName = 'home' %}
{% set userTitle = 'Войти' %}
{% set cartTitle = 'Корзина' %}
{% set loginImg = 'user-login.svg' %}
{% set cartImg = 'cart.svg' %}
{% set searchImg = 'search.svg' %}

{% extends "../layout/layout.njk" %}

{% block head %}
  {% include "../layout/head/head.njk" %}
{% endblock %}

{% block header %}
  {% include "../layout/header/header.njk" %}
{% endblock %}

{# {% include "../layout/layout.njk" %} #}
