<!DOCTYPE html>
<html dir="auto" lang="{{lang}}">
  {% block head %}{% endblock %}
  <body>

    {% block header %}{% endblock %}

    {% block banner %}{% endblock %}

    {% block breadcrumbs %}{% endblock %}

    {% block main %}
      {% block brandList %}{% endblock %}
    {% endblock %}
    {% block footer %}{% endblock %}

    <script type="module" src="{{startPath}}script.js"></script>
  </body>

</html>